Import dependency

In [61]:
import pandas as pd

Read data from file

In [62]:
df = pd.read_csv("adult.data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

- **Question #1**: How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [63]:
race_count = df["race"].value_counts()
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

- **Question #2**: What is the average age of men?

In [64]:
average_age_men = df[df["sex"]=="Male"].loc[:,"age"].mean()
print(f"Average age of men = {round(float(average_age_men),2)}")

Average age of men = 39.43

- **Question #3**: What is the percentage of people who have a Bachelor's degree?

In [65]:
percentage_bachelors = df['education'].value_counts()['Bachelors'] * 100 / df['education'].value_counts().sum()
print(f"the percentage of people who have a Bachelor's degree = {round(float(percentage_bachelors),2)}%")

the percentage of people who have a Bachelor's degree = 16.45%

- **Question #4**
    - What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    - What percentage of people without advanced education make more than 50K?

In [66]:

# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df[df['education'].isin(['Bachelors','Masters','Doctorate'])]
lower_education = df[~df['education'].isin(['Bachelors','Masters','Doctorate'])]

# percentage with salary >50K
higher_education_rich = higher_education[higher_education['salary']==">50K"].shape[0] * 100 / higher_education.shape[0]
lower_education_rich = lower_education[lower_education['salary']==">50K"].shape[0] * 100 / lower_education.shape[0]

print(f"percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K = {round(higher_education_rich,2)}%")
print(f"percentage of people without advanced education make more than 50K = {round(lower_education_rich,2)}%")

percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K = 46.54%
percentage of people without advanced education make more than 50K = 17.37%

- **Question #5**
    - What is the minimum number of hours a person works per week (hours-per-week feature)?
    - What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [84]:
#What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
print(f"The minimum number of hours a person works per week (hours-per-week feature) = {min_work_hours}")

# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df[df['hours-per-week']==min_work_hours].shape[0]

rich_percentage = df[(df['salary']==">50K")&(df['hours-per-week']==min_work_hours)].shape[0] *100 / num_min_workers
print(f"percentage of the people who work the minimum number of hours per week have a salary of >50K = {int(rich_percentage)}%")

The minimum number of hours a person works per week (hours-per-week feature) = 1
percentage of the people who work the minimum number of hours per week have a salary of >50K = 10%

- **Question #6**: What country has the highest percentage of people that earn >50K?

In [116]:
earning_ratio = df.groupby('native-country')['salary'].value_counts().loc[:,">50K"] / df.groupby('native-country')['salary'].value_counts().loc[:,"<=50K"]

highest_earning_country = earning_ratio.idxmax()
highest_earning_country_percentage = earning_ratio.max() * 100
print(f"The country that has the highest percentage of people that earn >50K = {highest_earning_country} at {int(highest_earning_country_percentage)}%")

The country that has the highest percentage of people that earn >50K = Iran at 72%